img {
	max-width: 100%;
	height: auto;
}

.alignleft {
  float:left;
}

.aligncenter {
  max-width: 100%;
  width: auto !important;
  text-align: center;
}

.alignright {
  float:right;
}

.alignnone {
  max-width: 100%;
  width: auto !important;
}
