/*
* The widgets shows all categories
*/
.widget_categories {
    list-style-type: none;
    & > ul {
        @extend .list-group;

        & > li.cat-item {
            @extend .list-group-item;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & > a {
                color: $info;
            }

            & > span {
                @extend .badge;
                @extend .badge-info;
                padding: 0.5em;
            }
        } /* li.cat-item */

        li.with-sub-categories {
            display: flex;
            flex-direction: column;

            & > .super-category {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                & > a {
                    color: $info;
                }

                & > span {
                    @extend .badge;
                    @extend .badge-info;
                    padding: 0.5em;
                }
            } /* .super-category */

            & > ul {
                display: flex;
                flex-direction: column;

                li:not(.with-sub-categories) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;

                    a {
                        color: $info;
                    }
                    & > span {
                        @extend .badge;
                        @extend .badge-info;
                        padding: 0.5em;
                    }
                } /* li:not(.with-sub-categories) */
            } /* ul - list of child categories */
        } /* li.with-sub-categories */
    } /* ul - list of categories*/

    /* drop-down variant */
    label {
        display: none;
    }

    select {
        @extend .form-control;
    }
}

/*
* The widget shows list of monthes - archive
*/

.widget_archive {
    list-style-type: none;
    ul {
        @extend .list-group;

        li {
            @extend .list-group-item;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & > a {
                color: $info;
            }

            & > span {
                @extend .badge;
                @extend .badge-info;
                padding: 0.5em;
            }
        }
    }
    /* drop-down variant */
    label {
        display: none;
    }

    select {
        @extend .form-control;
    }
}

/*
* Tag cloud widget
*/

.widget_tag_cloud {
    text-align:center;
    list-style-type: none;

    & > div.tagcloud {

        & > a.tag-cloud-link {
            color: $info;
            white-space: nowrap;

            & > span.tag-link-count {
                @extend .badge;
                @extend .badge-info;
                padding: 0.5em;
                margin: 0.1em;
            }
        }
    }
}

/*
* Search form
*/

.widget_search {
	list-style-type: none;

	form.searchform {
		@extend .form-inline;

		& > div {
			display: flex;
			flex-direction: row;

			label {
				display: none;
			}

			input[type=text] {
				@extend .form-control;
			}

			input[type=submit] {
				@extend .btn;
				@extend .btn-outline-secondary;
			}
		}
	}
}

/*
* Recent posts
*/

.widget_recent_entries {
    list-style-type: none;

    ul {
        padding-left: 0;

        li {
            list-style-type: none;
        }
    }
}

.widget_meta {
    list-style-type: none;

    ul {
        padding-left: 0;

        li {
            list-style-type: none;
        }
    }
}

/*
*  Navigation menu for the sidebar
*/

.widget_nav_menu {
    list-style-type: none;

    & > div {
        & > ul.menu {
            @extend .list-group;

            & > li.menu-item {
                @extend .list-group-item;
            }
        }
    }
}

/*
* Calendar widget
*/

.widget_calendar {
    list-style-type: none;

    table {
        @extend .table;

        td, th {
            padding: .6rem;
        }
    }
}
