ul.post-categories {
  padding-left: 0;

  li {
    display: inline-flex;
    list-style-type: none;

    & > a {
      @extend .badge;
      @extend .badge-info;
      padding: 0.5em;
      margin-bottom: 0.1em;
    }
  }
}
