.widget_search {
	list-style-type: none;

	form.searchform {
		@extend .form-inline;

		& > div {
			display: flex;
			flex-direction: row;

			label {
				display: none;
			}

			input[type=text] {
				@extend .form-control;
			}

			input[type=submit] {
				@extend .btn;
				@extend .btn-outline-secondary;
			}
		}
	}
}